

</body>
<footer>
  <span class="yo">
  P.S. add "/" + whatever-list-title-you-want to create a whole another list that stores your data</span><br><br><br><br>
  <img class="img" src="https://www.pinclipart.com/picdir/big/128-1284410_buttercup-clipart-transparent-cartoon-characters-powerpuff-girls-png.png" alt="">
<p>&lt; / &gt; by Subhanjali</p><br><br>
</footer>

</html>
